:root,
:root[theme-mode="QDS"] {
	--spacing-none: 0px;
	--color-white: #ffffff;
	--white: #ffffff;
	--color-black: #000000;
	--black: #000000;
	--color-primary-normal: #4a70ff;
	--color-primary-hover: #3856DB;
	--color-primary-active: #293EB6;
	--color-primary-focus: #93B1FF;
	--color-primary-disable: #B7CEFF;
	--color-primary-light: #F1F6FF;
	--color-primary-text: #12196d;
	--color-primary-light-normal: #f1f6ff;
	--color-primary-light-hover: #dbe8ff;
	--color-primary-light-active: #b7ceff;
	--color-text-primary: #121319;
	--color-text-secondary: #5b5f70;
	--color-text-caption: #979baa;
	--color-text-disable: #cdd0d9;
	--color-text-white: #ffffff;
	--text-comment: #ff00c1;
	--color-border-normal: #e0e2e7;
	--color-border-hover: #cdd0d9;
	--color-border-active: #DBE8FF;
	--color-border-disable: rgba(236,238,241,1);
	--color-divider-normal: #eceef1;
	--color-fill-normal: rgba(255,255,255,0);
	--color-fill-hover: rgba(244,245,247,1);
	--color-fill-active: rgba(241,246,255,1);
	--color-fill-disable: rgba(247,248,250,1);
	--color-bg-0: #ffffff;
	--color-bg-1: #ffffff;
	--color-bg-2: #ffffff;
	--color-bg-3: #f7f8fa;
	--color-bg-4: #f4f5f7;
	--color-overlay: rgba(18,19,25,0.32);
	--color-nav-1: #232530;
	--color-nav-2: #ffffff;
	--color-link-normal: #4a70ff;
	--color-link-hover: #3856DB;
	--color-link-active: #293EB6;
	--color-link-visited: #6E92FF;
	--color-prompt-normal: #1492FF;
	--color-prompt-hover: #1075DB;
	--color-prompt-active: #0B5BB6;
	--color-prompt-disable: #A1DDFF;
	--color-prompt-light-normal: #ECF9FF;
	--color-prompt-light-hover: #D0EFFF;
	--color-prompt-light-active: #A1DDFF;
	--color-prompt-text: #052F6D;
	--color-success-normal: #0FB87F;
	--color-success-hover: #0B9D72;
	--color-success-active: #088362;
	--color-success-disable: #8CDEBB;
	--color-success-light-normal: #E6F8EF;
	--color-success-light-hover: #C0EBD7;
	--color-success-light-active: #8CDEBB;
	--color-success-text: #044F40;
	--color-warning-normal: #FF8345;
	--color-warning-hover: #DB6634;
	--color-warning-active: #B64D26;
	--color-warning-disable: #FFD5B5;
	--color-warning-light-normal: #FFF8F0;
	--color-warning-light-hover: #FFEBDA;
	--color-warning-light-active: #FFD5B5;
	--color-warning-text: #6D2310;
	--color-error-normal: #f75559;
	--color-error-hover: #D44047;
	--color-error-active: #B12F3A;
	--color-error-disable: #FBBFB9;
	--color-error-light-normal: #FEF3F1;
	--color-error-light-hover: #FDE0DC;
	--color-error-light-active: #FBBFB9;
	--color-error-text: #6A1421;
	--color-brand-0: #F1F6FF;
	--color-brand-1: #DBE8FF;
	--color-brand-2: #B7CEFF;
	--color-brand-3: #93B1FF;
	--color-brand-4: #6E92FF;
	--color-brand-5: #4a70ff;
	--color-brand-6: #3856DB;
	--color-brand-7: #293EB6;
	--color-brand-8: #1C2A92;
	--color-brand-9: #12196D;
	--color-blue-0: #ECF9FF;
	--color-blue-1: #D0EFFF;
	--color-blue-2: #A1DDFF;
	--color-blue-3: #72C7FF;
	--color-blue-4: #43AEFF;
	--color-blue-5: #1492FF;
	--color-blue-6: #1075DB;
	--color-blue-7: #0B5BB6;
	--color-blue-8: #084492;
	--color-blue-9: #052F6D;
	--color-green-0: #E6F8EF;
	--color-green-1: #C0EBD7;
	--color-green-2: #8CDEBB;
	--color-green-3: #5ED1A3;
	--color-green-4: #34C48F;
	--color-green-5: #0FB87F;
	--color-green-6: #0B9D72;
	--color-green-7: #088362;
	--color-green-8: #066952;
	--color-green-9: #044F40;
	--color-yellow-0: #FEFDEC;
	--color-yellow-1: #FDF8D1;
	--color-yellow-2: #FBF0A3;
	--color-yellow-3: #FAE476;
	--color-yellow-4: #F9D64A;
	--color-yellow-5: #F7C51E;
	--color-yellow-6: #D4A217;
	--color-yellow-7: #B18110;
	--color-yellow-8: #8D620B;
	--color-yellow-9: #6A4607;
	--color-amber-0: #fff9ef;
	--color-amber-1: #fff0d7;
	--color-amber-2: #ffdfae;
	--color-amber-3: #ffcd86;
	--color-amber-4: #ffb95e;
	--color-amber-5: #ffa436;
	--color-amber-6: #db8829;
	--color-amber-7: #b66c1e;
	--color-amber-8: #925314;
	--color-amber-9: #6d3b0d;
	--color-orange-0: #FFF8F0;
	--color-orange-1: #FFEBDA;
	--color-orange-2: #FFD5B5;
	--color-orange-3: #FFBC8F;
	--color-orange-4: #FFA16A;
	--color-orange-5: #FF8345;
	--color-orange-6: #DB6634;
	--color-orange-7: #B64D26;
	--color-orange-8: #92361A;
	--color-orange-9: #6D2310;
	--color-red-0: #FEF3F1;
	--color-red-1: #FDE0DC;
	--color-red-2: #FBBFB9;
	--color-red-3: #FA9C97;
	--color-red-4: #F97875;
	--color-red-5: #f75559;
	--color-red-6: #D44047;
	--color-red-7: #B12F3A;
	--color-red-8: #8D202D;
	--color-red-9: #6A1421;
	--color-purple-0: #F4EEFC;
	--color-purple-1: #E2D5F8;
	--color-purple-2: #C6AFF3;
	--color-purple-3: #A98AEF;
	--color-purple-4: #8A67EA;
	--color-purple-5: #6A45E5;
	--color-purple-6: #5134C5;
	--color-purple-7: #3B26A4;
	--color-purple-8: #281A83;
	--color-purple-9: #191062;
	--color-gray-0: #f7f8fa;
	--color-gray-1: #f4f5f7;
	--color-gray-2: #eceef1;
	--color-gray-3: #e0e2e7;
	--color-gray-4: #cdd0d9;
	--color-gray-5: #b4b8c4;
	--color-gray-6: #979baa;
	--color-gray-7: #777c8d;
	--color-gray-8: #5b5f70;
	--color-gray-9: #434756;
	--color-gray-10: #313441;
	--color-gray-11: #232530;
	--color-gray-12: #191b23;
	--color-gray-13: #121319;
	--shadow-small: 0px 0px 1px rgba(18,19,25,0.08),0px 0px 2px rgba(18,19,25,0.08),0px 2px 4px rgba(18,19,25,0.08);
	--shadow-middle: 0px 0px 1px rgba(18,19,25,0.08),0px 0px 4px rgba(18,19,25,0.08),0px 6px 12px rgba(18,19,25,0.12);
	--shadow-large: 0px 16px 32px rgba(18,19,25,0.16),0px 0px 8px rgba(18,19,25,0.08),0px 0px 1px rgba(18,19,25,0.08);
	--fontFamilies-pingfang-sc: "PingFang SC";
	--lineHeights-0: 40px;
	--lineHeights-1: 32px;
	--lineHeights-2: 28px;
	--lineHeights-3: 24px;
	--lineHeights-4: 20px;
	--lineHeights-5: 16px;
	--lineHeights-16: 16px;
	--lineHeights-20: 20px;
	--lineHeights-24: 24px;
	--lineHeights-28: 28px;
	--lineHeights-32: 32px;
	--lineHeights-40: 40px;
	--fontWeights-pingfang-sc-medium: Medium;
	--fontWeights-pingfang-sc-regular: Regular;
	--fontWeights-pingfang-sc-0: Semibold;
	--fontWeights-pingfang-sc-2: Medium;
	--fontWeights-pingfang-sc-1: Regular;
	--fontSize-0: 12px;
	--fontSize-1: 14px;
	--fontSize-2: 16px;
	--fontSize-3: 20px;
	--fontSize-4: 24px;
	--fontSize-5: 32px;
	--fontSize-12: 12px;
	--fontSize-14: 14px;
	--fontSize-16: 16px;
	--fontSize-20: 20px;
	--fontSize-24: 24px;
	--fontSize-32: 32px;
	--letterSpacing-0: 0px;
	--paragraphSpacing-0: 0px;
	--title-regular: Regular 20px/28px "PingFang SC";
	--title-bold: Semibold 20px/28px "PingFang SC";
	--subtitle-regular: Regular 16px/24px "PingFang SC";
	--subtitle-medium: Medium 16px/24px "PingFang SC";
	--body-regular: Regular 14px/20px "PingFang SC";
	--body-medium: Medium 14px/20px "PingFang SC";
	--caption-regular: Regular 12px/16px "PingFang SC";
	--caption-medium: Medium 12px/16px "PingFang SC";
	--textCase-none: none;
	--textDecoration-none: none;
	--radius-normal: 3px;
	--radius-large: 6px;
	--radius-round: 50%px;
	--size-xs: 16px;
	--size-s: 20px;
	--size-m: 24px;
	--size-l: 32px;
	--size-xl: 48px;
	--size-xxl: 64px;
	--spacing-super-tight: 2px;
	--spacing-tight: 4px;
	--spacing-base: 8px;
	--spacing-base-loose: 12px;
	--spacing-loose: 16px;
	--spacing-quite-loose: 20px;
	--spacing-extra-loose: 24px;
	--spacing-super-loose: 32px;
	--radius-0: 0px;
	--motion--ease-in-out: cubic-bezier(0.36, 0.01, 0.1, 1);
	--motion--ease-out: cubic-bezier(0, 0, 0.2, 1);
	--motion--ease-in: cubic-bezier(0.4, 0, 1, 1);
	--duration-start-s: 0.1s;
	--duration-start-m: 0.2s;
	--duration-start-l: 0.25s;
	--duration-start-xl: 0.5s;
	--duration-end-s: 0.07s;
	--duration-end-m: 0.1s;
	--duration-end-l: 0.15s;
	--duration-end-xl: 0.3s;
	--radius-small: 1.5px;
	--display-bold: Semibold 32px/40px "PingFang SC";
	--headline-bold: Semibold 24px/32px "PingFang SC";
}

:root[theme-mode="QDS_Dark"] {
	--spacing-none: 0px;
	--color-white: #000000;
	--white: #ffffff;
	--color-black: #ffffff;
	--black: #000000;
	--color-primary-normal: #668AFF;
	--color-primary-hover: #82A1FF;
	--color-primary-active: #9EB8FF;
	--color-primary-focus: #4D68D5;
	--color-primary-disable: #495BAA;
	--color-primary-light: #313655;
	--color-primary-text: #12196d;
	--color-primary-light-normal: #2b3260;
	--color-primary-light-hover: #354180;
	--color-primary-light-active: #3e4e9f;
	--color-text-primary: #f7f8fa;
	--color-text-secondary: #b4b8c4;
	--color-text-caption: #777c8d;
	--color-text-disable: #434756;
	--color-text-white: #000000;
	--text-comment: #ff00c1;
	--color-border-normal: #313441;
	--color-border-hover: #434756;
	--color-border-active: #404B80;
	--color-border-disable: rgba(35,37,48,1);
	--color-divider-normal: #232530;
	--color-fill-normal: rgba(0,0,0,0);
	--color-fill-hover: rgba(35,37,48,1);
	--color-fill-active: rgba(49,54,85,1);
	--color-fill-disable: rgba(18,19,25,1);
	--color-bg-0: #121319;
	--color-bg-1: #191b23;
	--color-bg-2: #232530;
	--color-bg-3: #232530;
	--color-bg-4: #313441;
	--color-overlay: rgba(247,248,250,0.32);
	--color-nav-1: #121319;
	--color-nav-2: #121319;
	--color-link-normal: #668AFF;
	--color-link-hover: #82A1FF;
	--color-link-active: #9EB8FF;
	--color-link-visited: #4a70ff;
	--color-prompt-normal: #3BA7FF;
	--color-prompt-hover: #61BAFF;
	--color-prompt-active: #87CDFF;
	--color-prompt-disable: #2D6BAA;
	--color-prompt-light-normal: #263C55;
	--color-prompt-light-hover: #2D5580;
	--color-prompt-light-active: #2D6BAA;
	--color-prompt-text: #D0EDFF;
	--color-success-normal: #2DC28E;
	--color-success-hover: #4ECD9E;
	--color-success-active: #72D8B1;
	--color-success-disable: #207A5F;
	--color-success-light-normal: #1B3D34;
	--color-success-light-hover: #215C4B;
	--color-success-light-active: #207A5F;
	--color-success-text: #C2EDDB;
	--color-warning-normal: #FF9A63;
	--color-warning-hover: #FFB082;
	--color-warning-active: #FFC5A1;
	--color-warning-disable: #AA6547;
	--color-warning-light-normal: #553A30;
	--color-warning-light-hover: #80513E;
	--color-warning-light-active: #AA6547;
	--color-warning-text: #FFE9DA;
	--color-error-normal: #F87070;
	--color-error-hover: #FA8E8C;
	--color-error-active: #FBABA8;
	--color-error-disable: #A54E52;
	--color-error-text: #FDDEDC;
	--color-error-light-normal: #523332;
	--color-error-light-hover: #7C4346;
	--color-error-light-active: #A54E52;
	--color-brand-0: #313655;
	--color-brand-1: #404B80;
	--color-brand-2: #495BAA;
	--color-brand-3: #4D68D5;
	--color-brand-4: #4a70ff;
	--color-brand-5: #668AFF;
	--color-brand-6: #82A1FF;
	--color-brand-7: #9EB8FF;
	--color-brand-8: #BACEFF;
	--color-brand-9: #DBE6FF;
	--color-blue-0: #263C55;
	--color-blue-1: #2D5580;
	--color-blue-2: #2D6BAA;
	--color-blue-3: #257FD5;
	--color-blue-4: #1492FF;
	--color-blue-5: #3BA7FF;
	--color-blue-6: #61BAFF;
	--color-blue-7: #87CDFF;
	--color-blue-8: #ADDEFF;
	--color-blue-9: #D0EDFF;
	--color-green-0: #1B3D34;
	--color-green-1: #215C4B;
	--color-green-2: #207A5F;
	--color-green-3: #1A9971;
	--color-green-4: #0FB87F;
	--color-green-5: #2DC28E;
	--color-green-6: #4ECD9E;
	--color-green-7: #72D8B1;
	--color-green-8: #9AE2C5;
	--color-green-9: #C2EDDB;
	--color-yellow-0: #524527;
	--color-yellow-1: #7C662F;
	--color-yellow-2: #A58631;
	--color-yellow-3: #CEA52B;
	--color-yellow-4: #F7C51E;
	--color-yellow-5: #F8D141;
	--color-yellow-6: #FADC64;
	--color-yellow-7: #FCEFAB;
	--color-yellow-8: #fdf8d1;
	--color-yellow-9: #FDF6D1;
	--color-amber-0: #55402D;
	--color-amber-1: #805C39;
	--color-amber-2: #AA763F;
	--color-amber-3: #D58E3D;
	--color-amber-4: #FFA436;
	--color-amber-5: #FFB657;
	--color-amber-6: #FFC778;
	--color-amber-7: #FFD699;
	--color-amber-8: #FFE5BA;
	--color-amber-9: #FFE5BA;
	--color-orange-0: #553A30;
	--color-orange-1: #80513E;
	--color-orange-2: #AA6547;
	--color-orange-3: #D57549;
	--color-orange-4: #FF8345;
	--color-orange-5: #FF9A63;
	--color-orange-6: #FFB082;
	--color-orange-7: #FFC5A1;
	--color-orange-8: #FFD9BF;
	--color-orange-9: #FFE9DA;
	--color-red-0: #523332;
	--color-red-1: #7C4346;
	--color-red-2: #A54E52;
	--color-red-3: #CE5458;
	--color-red-4: #F75457;
	--color-red-5: #F87070;
	--color-red-6: #FA8E8C;
	--color-red-7: #FBABA8;
	--color-red-8: #FCC7C5;
	--color-red-9: #FDDEDC;
	--color-purple-0: #322C4D;
	--color-purple-1: #453B73;
	--color-purple-2: #544399;
	--color-purple-3: #6147BF;
	--color-purple-4: #6a45e5;
	--color-purple-5: #8260E9;
	--color-purple-6: #9A7BED;
	--color-purple-7: #B198F1;
	--color-purple-8: #C8B5F5;
	--color-purple-9: #E1D6F9;
	--color-gray-0: #121319;
	--color-gray-1: #191b23;
	--color-gray-2: #232530;
	--color-gray-3: #313441;
	--color-gray-4: #434756;
	--color-gray-5: #5b5f70;
	--color-gray-6: #777c8d;
	--color-gray-7: #979baa;
	--color-gray-8: #b4b8c4;
	--color-gray-9: #cdd0d9;
	--color-gray-10: #e0e2e7;
	--color-gray-11: #eceef1;
	--color-gray-12: #f4f5f7;
	--color-gray-13: #f7f8fa;
	--shadow-small: 0px 0px 1px rgba(0,0,0,0.24),0px 0px 2px rgba(0,0,0,0.24),0px 2px 4px rgba(0,0,0,0.24);
	--shadow-middle: 0px 0px 1px rgba(0,0,0,0.24),0px 0px 4px rgba(0,0,0,0.24),0px 6px 12px rgba(0,0,0,0.36);
	--shadow-large: 0px 0px 8px rgba(0,0,0,0.24),0px 0px 1px rgba(0,0,0,0.24),0px 16px 32px rgba(0,0,0,0.48);
	--fontFamilies-pingfang-sc: "PingFang SC";
	--lineHeights-0: 40px;
	--lineHeights-1: 32px;
	--lineHeights-2: 28px;
	--lineHeights-3: 24px;
	--lineHeights-4: 20px;
	--lineHeights-5: 16px;
	--lineHeights-16: 16px;
	--lineHeights-20: 20px;
	--lineHeights-24: 24px;
	--lineHeights-28: 28px;
	--lineHeights-32: 32px;
	--lineHeights-40: 40px;
	--fontWeights-pingfang-sc-medium: Medium;
	--fontWeights-pingfang-sc-regular: Regular;
	--fontWeights-pingfang-sc-0: Semibold;
	--fontWeights-pingfang-sc-2: Medium;
	--fontWeights-pingfang-sc-1: Regular;
	--fontSize-0: 12px;
	--fontSize-1: 14px;
	--fontSize-2: 16px;
	--fontSize-3: 20px;
	--fontSize-4: 24px;
	--fontSize-5: 32px;
	--fontSize-12: 12px;
	--fontSize-14: 14px;
	--fontSize-16: 16px;
	--fontSize-20: 20px;
	--fontSize-24: 24px;
	--fontSize-32: 32px;
	--letterSpacing-0: 0px;
	--paragraphSpacing-0: 0px;
	--title-regular: Regular 20px/28px "PingFang SC";
	--title-bold: Semibold 20px/28px "PingFang SC";
	--subtitle-regular: Regular 16px/24px "PingFang SC";
	--subtitle-medium: Medium 16px/24px "PingFang SC";
	--body-regular: Regular 14px/20px "PingFang SC";
	--body-medium: Medium 14px/20px "PingFang SC";
	--caption-regular: Regular 12px/16px "PingFang SC";
	--caption-medium: Medium 12px/16px "PingFang SC";
	--textCase-none: none;
	--textDecoration-none: none;
	--radius-normal: 3px;
	--radius-large: 6px;
	--radius-round: 50%px;
	--size-xs: 16px;
	--size-s: 20px;
	--size-m: 24px;
	--size-l: 32px;
	--size-xl: 48px;
	--size-xxl: 64px;
	--spacing-super-tight: 2px;
	--spacing-tight: 4px;
	--spacing-base: 8px;
	--spacing-base-loose: 12px;
	--spacing-loose: 16px;
	--spacing-extra-loose: 24px;
	--spacing-super-loose: 32px;
	--radius-0: 0px;
	--motion--ease-in-out: cubic-bezier(0.36, 0.01, 0.1, 1);
	--motion--ease-out: cubic-bezier(0, 0, 0.2, 1);
	--motion--ease-in: cubic-bezier(0.4, 0, 1, 1);
	--duration-start-s: 0.1s;
	--duration-start-m: 0.2s;
	--duration-start-l: 0.25s;
	--duration-start-xl: 0.5s;
	--duration-end-s: 0.07s;
	--duration-end-m: 0.1s;
	--duration-end-l: 0.15s;
	--duration-end-xl: 0.3s;
	--radius-small: 1.5px;
	--display-bold: Semibold 32px/40px "PingFang SC";
	--headline-bold: Semibold 24px/32px "PingFang SC";
}
